{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="text-center docs-header">
        <h1>Wikimedia Toolforge: ~stewardbots project</h1>
        <p>This is a <a dir="ltr" href="https://wikitech.wikimedia.org/wiki/Portal:Toolforge"
                target="_blank">multi-mantainer project</a> for several <a
                href="https://meta.wikimedia.org/wiki/Stewards" target="_blank">steward</a> related <a
                href="https://meta.wikimedia.org/wiki/IRC/Bots" target="_blank">IRC bots</a>.</p>
    </div>

    <h2>Help pages for the bots</h2>
    <ul>
        <li><a href="/SULWatcher">SULWatcher</a></li>
        <li><a href="/StewardBot">StewardBot</a></li>
    </ul>
</div>
{% endblock %}